{% extends 'core/base.html' %}

{% block title %} | FAQ{% endblock %}

{% block content %}
    <section class="flex flex-col justify-center items-center w-full lg:w-1/2 mx-auto font-robo p-6">
        <div class="flex flex-col gap-2 text-center ">
            <p class="text-sm lg:text-lg text-gray-500 mb-6">For all your questions & inquiries</p>
            <h1 class="text-4xl md:text-5xl  lg:text-6xl font-bold"><span class="text-teal-500">Frequently</span> Asked Questions</h1>
            {% for faq in faqs %}
                <div class="flex flex-col gap-8 sm:gap-10 p-6">
                    <div class="text-left gap-2 mx-auto relative p-4 px-6">
                        <div class="absolute top-0 left-0 w-1/3 h-[1px] bg-gray-700 -translate-x-4">
                        </div>
                        <div class="absolute top-0 left-0 h-2/3 w-[1px] bg-gray-700 -translate-y-4">
                        </div>
                        <p class="text-lg sm:text-xl md:text-2xl pt-2">
                            {{faq.question}}
                        </p>
                        <p class="pl-2 pt-4">{{faq.answer}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}