{% load static %}

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 bg-gray-100">
    {% for item in range_values %}
        <div class="flex flex-col text-xs bg-white shadow-lg rounded-sm">
            <img src="{% static 'core/home2.jpg' %}" class="rounded-sm" alt="">
            <div class="flex p-3 justify-between items-center">
                <div class="flex-col">
                    <p class="text-teal-500 text-lg">$870 / month</p>
                    <p>1 bed 1 bath Apartment</p>
                    <p>Lease: monthly</p>
                </div>
                <form action="">
                    <button id="saveLease" class="text-red-800 border rounded-xl mx-2">
                        <ion-icon name="checkbox-outline" class="p-3 text-xl"></ion-icon>
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>