@import 'tailwindcss';

@theme static {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: oklch(0.205 0 0);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Border Radius */
  --radius-2xl: 2px;

  /* Spacing */
  --spacing-1\.5: 0.375rem;
  --spacing-2\.5: 0.625rem;

  /* Font Sizes */
  --font-size-12: 12px;
  --line-height-12: 18px;
  --font-size-16: 16px;
  --line-height-16: 24px;
  --font-size-24: 24px;
  --line-height-24: 30px;
}

@layer base {
  :root {
    --background: oklch(0.985 0 0); /* White */
    --foreground: oklch(0.145 0 0); /* Gray-800 */
    --card: oklch(0.145 0 0); /* Gray-800 */
    --card-foreground: oklch(0.985 0 0); /* White */
    --popover: oklch(0.145 0 0); /* Gray-800 */
    --popover-foreground: oklch(0.985 0 0); /* White */
    --primary: oklch(0.985 0 0); /* White */
    --primary-foreground: oklch(0.205 0 0); /* Teal-500 */
    --secondary: oklch(0.269 0 0); /* Gray-700 */
    --secondary-foreground: oklch(0.985 0 0); /* White */
    --muted: oklch(0.269 0 0); /* Gray-700 */
    --muted-foreground: oklch(0.708 0 0); /* Gray-400 */
    --accent: oklch(0.205 0 0); /* Teal-500 */
    --accent-foreground: oklch(0.985 0 0); /* White */
    --destructive: oklch(0.396 0.141 25.723); /* Red-500 */
    --destructive-foreground: oklch(0.637 0.237 25.331); /* Red-300 */
    --border: oklch(0.269 0 0); /* Gray-700 */
    --input: oklch(0.269 0 0); /* Gray-700 */
    --ring: oklch(0.439 0 0); /* Gray-600 */
    --chart-1: oklch(0.488 0.243 264.376); /* Teal-500 */
    --chart-2: oklch(0.696 0.17 162.48); /* Blue-500 */
    --chart-3: oklch(0.769 0.188 70.08); /* Green-500 */
    --chart-4: oklch(0.627 0.265 303.9); /* Purple-500 */
    --chart-5: oklch(0.645 0.246 16.439); /* Orange-500 */
    --sidebar: oklch(0.205 0 0); /* Teal-500 */
    --sidebar-foreground: oklch(0.985 0 0); /* White */
    --sidebar-primary: oklch(0.488 0.243 264.376); /* Teal-500 */
    --sidebar-primary-foreground: oklch(0.985 0 0); /* White */
    --sidebar-accent: oklch(0.269 0 0); /* Gray-700 */
    --sidebar-accent-foreground: oklch(0.985 0 0); /* White */
    --sidebar-border: oklch(0.269 0 0); /* Gray-700 */
    --sidebar-ring: oklch(0.439 0 0); /* Gray-600 */
  }

  .dark {
    --foreground: oklch(0.985 0 0); /* White */
    --background: oklch(0.145 0 0); /* Gray-800 */
    --card: oklch(0.985 0 0); /* White */
    --card-foreground: oklch(0.145 0 0); /* Gray-800 */
    --popover: oklch(0.985 0 0); /* White */
    --popover-foreground: oklch(0.145 0 0); /* Gray-800 */
    --primary: oklch(0.205 0 0); /* Teal-500 */
    --primary-foreground: oklch(0.985 0 0); /* White */
    --secondary: oklch(0.97 0 0); /* Gray-100 */
    --secondary-foreground: oklch(0.205 0 0); /* Teal-500 */
    --muted: oklch(0.97 0 0); /* Gray-100 */
    --muted-foreground: oklch(0.556 0 0); /* Gray-500 */
    --accent: oklch(0.97 0 0); /* Gray-100 */
    --accent-foreground: oklch(0.205 0 0); /* Teal-500 */
    --destructive: oklch(0.577 0.245 27.325); /* Red-500 */
    --destructive-foreground: oklch(0.985 0 0); /* White */
    --border: oklch(0.922 0 0); /* Gray-200 */
    --input: oklch(0.922 0 0); /* Gray-200 */
    --ring: oklch(0.708 0 0); /* Gray-300 */
    --chart-1: oklch(0.646 0.222 41.116); /* Teal-500 */
    --chart-2: oklch(0.6 0.118 184.704); /* Blue-500 */
    --chart-3: oklch(0.398 0.07 227.392); /* Green-500 */
    --chart-4: oklch(0.828 0.189 84.429); /* Purple-500 */
    --chart-5: oklch(0.769 0.188 70.08); /* Orange-500 */
    --sidebar: oklch(0.985 0 0); /* White */
    --sidebar-foreground: oklch(0.145 0 0); /* Gray-800 */
    --sidebar-primary: oklch(0.205 0 0); /* Teal-500 */
    --sidebar-primary-foreground: oklch(0.985 0 0); /* White */
    --sidebar-accent: oklch(0.97 0 0); /* Gray-100 */
    --sidebar-accent-foreground: oklch(0.205 0 0); /* Teal-500 */
    --sidebar-border: oklch(0.922 0 0); /* Gray-200 */
    --sidebar-ring: oklch(0.708 0 0); /* Gray-300 */
  }

  body {
    @apply bg-background text-foreground;
  }

  .font-robo {
    font-family: 'Roboto Slab', serif;
  }

  .custom-btn-filled {
    @apply bg-primary text-primary-foreground border-primary;
  }
  .custom-btn-filled:hover {
    @apply bg-secondary text-secondary-foreground border-secondary;
  }
  .custom-btn-outline {
    @apply border-primary text-primary;
  }
  .custom-btn-outline:hover {
    @apply bg-secondary text-secondary-foreground border-secondary;
  }
}




.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(189, 189, 189, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}