<div class="grid grid-cols-2 gap-6 md:grid-cols-5 lg:grid-cols-5">
    <div class="rounded-xl flex gap-3 border p-4">
        <div class="flex flex-col ">
            <span class="text-teal-500 font-bold text-2xl">0</span>
            <span>Chats to answer</span>
        </div>
        <ion-icon name="chatbubbles-outline"  size="large"></ion-icon>
    </div>
    <div class="rounded-xl flex gap-3 border p-4">
        <div class="flex flex-col ">
            <span class="text-teal-500 font-bold text-2xl">0</span>
            <span>Active Listing</span>
        </div>
        <ion-icon name="document-text-outline" size="large"></ion-icon>
    </div>
    <div class="rounded-xl flex gap-3 border p-4">
        <div class="flex flex-col ">
            <span class="text-teal-500 font-bold text-2xl">0</span>
            <span>Clicks on Listing</span>
        </div>
        <ion-icon name="eye-outline"  size="large"></ion-icon>
    </div>
    <div class="rounded-xl flex gap-3 border p-4">
        <div class="flex flex-col ">
            <span class="text-teal-500 font-bold text-2xl">0</span>
            <span>Seller rating</span>
        </div>
        <ion-icon name="star-outline"  size="large"></ion-icon>
    </div>
    <div class="rounded-xl flex gap-3 border p-4">
        <div class="flex flex-col ">
            <span class="text-teal-500 font-bold text-2xl">0</span>
            <span>Lisitng to delete & relist</span>
        </div>
        <ion-icon name="swap-horizontal-outline"  size="large"></ion-icon>
    </div>
</div>